@use '../helpers/' as *;

.badge {
    display: inline-flex;
    padding: fluid(4, 2) fluid(14, 10);

    border-radius: rem(6);
    border: rem(1) solid transparent;
    background:
        linear-gradient(var(--color-dark-10), var(--color-dark-10,)) padding-box,
        var(--gradient) border-box;

    font-size: rem(16);
    color: var(--color-light);

    @include laptop {
        font-size: rem(14);
        border-radius: rem(4);
    }
}